@media (max-width: 992px) {

    .tabela  {

        font-size: 10px;
    }

    .logo {

        font-size: 10PX;
    }

    .boxFormulario {

        display: block;

        width: 80vw;
        justify-content: center;
    }
}


 


@media (max-width: 425px) {

  

    .boxIndex {

        display: flex;
        flex-direction: column;
    }

    .boxIndex .mt {

        margin-top: 5px;
    }

    .boxFormulario {

        display: block;

        width: 100vw;
        justify-content: center;
    }

    /* .boxFormulario fieldset {

        width: 100vw;
    } */

    .boxFormulario p {

        font-size: 13px;
    }

    .boxFormulario button {

        font-size: 12px;
    }

    legend {

        font-size: 12px;
    }

    .inputUser {

        font-size: 12px;
    }

    #nascimento {

        font-size: 12px;
    }

    label {

        font-size: 12px;
    }

    .inputUser:focus~.labelInput,
    .inputUser:valid~.labelInput {

        font-size: 10px;
    }

    .tabela {

        font-size: 30%;
    }

    .menu .botao {

       margin-right: 180px;
    }


    .logo {

        width: 70%;
    }

    .logo_home_pesq {

        display: none;
    }

    .sair .btn {

        font-size: 10px;
        
    }

    .sair {

        margin-left: 280px;
        margin-top: -35px;
    }

    .sair_pesq_home .btn {

        font-size: 10px;
    }

    .sair_pesq_home {

    
        margin-top: -25px;
        padding-left: 15px;
    }

  
    .home-titulo {

        font-size: 15px;
        font-weight: bold;
    }

   .inputHome {

        font-size: 12px;
   }

   .seta_home_pesq {

        display: none;
   }

   .seta i {

    display: none;
   }

   .boxFormulario i {

    display: inline;

    padding-left: 10px;

   }

 
   
}

@media (max-width: 360px) {

   

    .tabela {

        font-size: 30%;
    }


     .inputHome {

        font-size: 11px;
   }

   .seta i {

    display: none;
   }

   .boxFormulario i {

    display: inline;

    padding-left: 10px;
}

}